<!DOCTYPE html>
<html>
  <head>
    <title>Fortune.com</title>
  </head>
  <body>
    <h2>Edit Profile</h2>
    <form action="/profile/update" method="post" enctype="multipart/form-data">
      <input type="text" name="name" placeholder="Enter name"><br><br>
      <input type="text" name="bio" placeholder="Write bio"><br><br>
      <input type="text" name="links" placeholder="Enter links"><br><br>
      <select name="shape">
        <option value="circle">Circle</option>
        <option value="square">Square</option>
      </select><br><br>
      <input type="file" name="profile_pic"><br><br>
      <button type="submit">Save</button>
    </form>
  </body>
</html>
