<!DOCTYPE html>
<html>
  <head>
    <title>Fortune.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
    <style>
      body {
        background: #0f172a;
        font-family: Sans-Serif;
        color: white;
      }
      h2 {
        text-align: center;
      }
      .feed {
        margin: 20px;
        padding: 10px;
        background: #1e293b;
        border-radius: 10px;
      }
    </style>
  </head>
  <body>
    <h2>Feed</h2>
    
    {% for post in posts %}
    <div class="feed">
      {% set show_delete = (post[1] == user_id) %}
      {% include "components/post.html" %}
    </div>
    {% endfor %}
    {% include "components/comment_modal.html" %}
    <script>
      let currentUserId = {{ user_id or 0 }};
    </script>
    <script src="{{ url_for('static', filename='js/post.js') }}"></script>
  </body>
</html>
