<!DOCTYPE html>
<html>
  <head>
    <title>Fortune.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}">
    <style>
      body {
        margin: 0;
        background: #0f172a;
        font-family: Sans-Serif;
        color: white;
      }
      .feed {
        margin: 7px;
        padding: 7px;
        background: #1e293b;
        border-radius: 10px;
      }
    </style>
  </head>
  <body>
    {% include "components/navbar.html" %}
    
    {% for post in posts %}
    <div class="feed" id="post-{{ post[0] }}">
      {% set show_delete = (post[1] == user_id) %}
      {% include "components/post.html" %}
    </div>
    {% endfor %}
    
    {% include "components/navigation.html" %}
    {% include "components/comment_modal.html" %}
    
    <div id="deleteLoader" class="delete-loader">
      <div class="delete-box">
        <div class="delete-spinner"></div>
        <h3 id="deleteTitle">Deleting Post</h3>
        <p id="deleteText">Removing your post...</p>
      </div>
    </div>
    <script>
      let currentUserId = {{ user_id or 0 }};
    </script>
    <script src="{{ url_for('static', filename='js/post.js') }}"></script>
  </body>
</html>
