<p><strong>@{{ post[6] }}</strong></p>
      <div class="image-wrapper">
        <div class="image-skeleton"></div>
        <img 
        loading="lazy"
        src="{{ post[2] }}"
        onload="imageLoaded(this)"
        style="width:100%; max-height:440px; object-fit: {{ post[5] or 'contain' }}; border-radius:10px; display:block;">
      </div>

      <div class="actions-row">
        <div class="left-actions">
          <button class="like-btn {% if post[7] %}liked{% endif %}" onclick="likePost({{ post[0] }}, this)">
            <svg class="heart" viewBox="0 0 24 24">
              <path d="M12 21s-7-5.2-9.5-8.3C.5 9.5 2.5 5 6.5 5 
              9 5 10.5 6.5 12 8 
              13.5 6.5 15 5 17.5 5 
              21.5 5 23.5 9.5 21.5 12.7 
              19 15.8 12 21 12 21z"/>
            </svg>
          </button>
          <span class="like-count">{{ post[8] }}</span>
          
          <button class="comment-btn" onclick="openComments({{ post[0] }})">
            <svg viewBox="0 0 24 24" class="comment-icon">
              <path d="M21 15a4 4 0 0 1-4 4H8l-5 3V7a4 4 0 0 1 4-4h10a4 4 0 0 1 4 4z"/>
            </svg>
          </button>
          <span class="comment-count">{{ post[9] }}</span>
        </div>
        <div class="right-actions">
          {% if show_delete %}
          <button class="delete-btn" onclick="confirmDeletePost({{ post[0] }}, this)">
            <svg viewBox="0 0 24 24" class="delete-icon">
              <path d="M3 6h18M8 6V4h8v2M6 6l1 14h10l1-14M10 11v6M14 11v6"/>
            </svg>
          </button>
          {% endif %}
        </div>
      </div>
      <p>{{ post[4] }}</p>
      
